::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}
                
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
                
::-webkit-scrollbar-thumb {
    background: #120333; 
}

::-webkit-scrollbar-thumb:hover {
    background: #1b1135;
}